@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-v26-cyrillic-300.woff2') format('woff2'),
    url('../fonts/nunito-v26-cyrillic-300.woff') format('woff');

}

/* nunito-600 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-v26-cyrillic-600.woff2') format('woff2'),
    url('../fonts/nunito-v26-cyrillic-600.woff') format('woff');

}

/* nunito-900 - cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-v26-cyrillic-900.woff2') format('woff2'),
    url('../fonts/nunito-v26-cyrillic-900.woff') format('woff');

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #434343;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

input:focus {
  outline: none;
  border: none;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header {
  background-color: #000;
  padding: 13px 0;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  font-size: 0;
  line-height: 0;
}

.header__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}

.main {
  padding: 60px 30px;
}

.main__title {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 30px;
}

.main__box {
  margin: 0 auto;
  max-width: 800px;
  height: 540px;
  border-radius: 30px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.20);
}

.main__subtitle {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}

.main__subtitle_result {
  margin-bottom: 50px;
}

.main__btn {
  min-width: 230px;
  height: 50px;
  font-size: 18px;
  padding: 0px 24px;
  color: #157baa;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  border: 1px solid #157baa
}

.main__btn:hover {
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.20);
}

.main__btn:focus {
  border: 1px solid #56f77e;
  color: #56f77e;
  box-shadow: none;
}

.main__btn:active {
  border: 1px solid #56f77e;
  color: #56f77e;
}

.selection {
  padding: 50px;
}

.selection__list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  /* firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(36, 33, 33);
}

/* Chrome, Edge and Safari */
.selection__list::-webkit-scrollbar {
  width: 6px;
  background-color: #aeaeae;
}

.selection__list::-webkit-scrollbar-thumb {
  background-color: rgb(36, 33, 33);
  border-radius: 8px;
  height: 150px;
}

.selection__elem {
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
}

.selection__elem:last-child {
  margin-bottom: 0;
}

.selection__theme {
  background-color: rgba(225, 238, 227, 0.7);
  padding: 17px 20px;
  font-size: 22px;
  width: 100%;
  max-width: 520px;
  text-align: left;
  border-radius: 12px;
  box-shadow: 1px 1px 5px transparent;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.selection__theme:hover {
  background-color: #befacd;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.selection__theme:focus {
  background-color: #befdce;
  outline: none;
  border: none;
}

.selection__theme:not(:last-child) {
  margin-right: 20px;
}


.selection__result {
  text-align: center;
  /* max-width: 70px; */
  width: min-content;
  /* width: max-content */
}

.selection__result-ratio {
  display: block;
  color: #c4c002;
  font-size: 22px;
}

.selection__result-text {
  display: block;
  color: #555454;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
}

/* 2-й блок */

.main__box_question {
  opacity: 0;
  border-radius: 30px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
  padding: 60px 120px;
  min-height: 540px;
  height: auto;
}

.main__form-question {
  position: relative;
  opacity: 0;
}

.main__form-question::after {
  content: attr(data-count);
  position: absolute;
  bottom: 0;
  right: 0;
  color: #56f77e;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.answer {
  display: block;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  padding-left: 65px;
  /* height: 40px; */
}

.answer:last-child {
  margin-bottom: 34px;
}

/* стили чекбоксов */
.answer__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  /* margin-right: 25px; */
  margin: 0 0 0 -65px;

}

.answer__checkbox::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  /* margin-bottom: 26px; */

}

.answer__checkbox::after {
  content: '';
  height: 8px;
  width: 17px;
  /* 1 способ нарисовать галочку */
  /* border-bottom: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0); */
  background-color: transparent;
  display: block;
  position: absolute;
  top: 13px;
  left: 12px;
  transform: rotate(-45deg);
  /* 2 способ нарисовать галочку */
  border-style: solid;
  border-color: #000;
  border-width: 0 0 2px 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* появление галочки */
.answer__checkbox:checked::after {
  opacity: 1;
}

/* эффекты фокус и ховер */
.answer__checkbox:focus::before,
.answer__checkbox:hover::before {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
}

.answer__text {
  color: #434343;
  line-height: 40px;
  width: max-content;
  max-width: 500px;
  display: block;
  overflow: hidden;
}

/* стили радио кнопок 3-й блок */
.answer__radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  /* margin-right: 25px; */
  margin: 0 0 0 -65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* круг снаружи */
.answer__radio::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  /* margin-bottom: 26px; */

}

/* шарик внутри */
.answer__radio::after {
  content: '';
  height: 14px;
  width: 14px;
  position: relative;
  z-index: inherit;
  background-color: rgb(0, 0, 0);
  display: block;
  /* position: absolute;
  top: 13px;
  left: 13px; */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* появление галочки */
.answer__radio:checked::after {
  opacity: 1;
}

/* эффекты фокус и ховер */
.answer__radio:focus::before,
.answer__radio:hover::before {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

/* анимация */
.main__form-question_error .answer__checkbox::before,
.main__form-question_error .answer__radio::before {
  animation: blink 1s ease 5;
}

@keyframes blink {
  to {
    box-shadow: 0px 2px 10px 0px rgba(255, 0, 95, 0.8);
  }
}



.main__box_result {
  opacity: 0;
  padding-top: 60px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__subtitle_result {
  margin-bottom: 49px;
}

.result__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.result__ratio {
  width: 127px;
  height: 127px;
  background-color: #596159;
  /* margin: 0 auto; */
  border-radius: 50%;
  /* text-align: center; */
  /* line-height: 127px; */
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__ratio_1 {
  background-color: #DC1C1C;
}

.result__ratio_2 {
  background-color: #EFCF24;
}

.result__ratio_3 {
  background-color: #49F050;
}

.result__text {
  color: #434343;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/* .result__return {} */

@media(max-width:1024px) {
  .main__title {
    font-size: 46px;
  }

  .selection__list {
    padding-right: 30px;
  }

  .selection__theme {
    font-size: 20px;
    max-width: 480px;
  }
}

@media(max-width:768px) {
  .header__container {
    max-width: 1120px;
    padding: 0 20px;
  }

  .header__title {
    font-size: 25px;
  }

  .header__logo {
    width: 45px;
    height: 45px;
  }

  .main__title {
    font-size: 41px;
  }

  .main {
    padding: 40px 20px;
  }

  /* для всех секций */
  .main__box {
    padding: 40px;
  }

  .main__subtitle {
    font-size: 24px;
    margin-bottom: 50px;
  }


  .selection__list {
    padding-right: 15px;
  }

  .selection__elem {
    margin-bottom: 10px;
  }

  .selection__theme {
    font-size: 18px;
    max-width: 400px;
    padding: 10px 15px;
  }

  .selection__result-ratio {
    font-size: 20px;
  }

  .answer__text {
    max-width: 400px;
  }

  /* .answer__checkbox::before {
    width: 30px;
    height: 30px;
  } */

}

@media(max-width:580px) {
  .header__title {
    font-size: 23px;
  }

  .header__logo {
    width: 40px;
    height: 40px;
  }

  .main__title {
    font-size: 35px;
  }

  .main {
    padding: 40px 20px;
  }

  /* для всех секций */
  .main__box {
    padding: 30px;
    min-height: calc(500px + 20%);
    position: relative;
  }

  .main__btn:not(.result__return) {
    margin-left: 0;
    min-width: 200px;
    font-size: 16px;
    padding: 0px 16px;
  }


  .main__subtitle {
    font-size: 24px;
    margin-bottom: 50px;
  }


  .selection__list {
    padding-right: 15px;
  }

  .selection__elem {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .selection__theme {
    font-size: 16px;
    max-width: 350px;
    padding: 10px 15px;
  }

  .selection__result-ratio {
    font-size: 18px;
  }

  .selection__result-text {
    display: none;
  }

  .main__form-question {
    height: 100%;
  }

  .main__form-question fieldset {
    margin-bottom: 20px;
  }

  .answer {
    padding-left: 50px;
  }

  .answer__checkbox,
  .answer__radio {
    margin: 0 0 0 -50px;
  }

  .answer__radio {
    width: 30px;
    height: 30px;
  }

  .answer__checkbox::before,
  .answer__radio::before {
    width: 30px;
    height: 30px;
  }

  .answer__checkbox::after {
    top: 9px;
    left: 7px;
  }

  .answer__radio::after {
    width: 10px;
    height: 10px;
  }

  .answer__text {
    max-width: 300px;
  }

  .answer__text {
    line-height: 30px;
  }

  .result__ratio {
    font-size: 28px;
  }

}

@media(max-width:380px) {
  .header__title {
    font-size: 20px;
  }

  .header__logo {
    width: 35px;
    height: 35px;
  }

  .main__title {
    font-size: 30px;
  }

  .main {
    padding: 30px 15px;
  }

  .main__box {
    padding: 15px 15px 50px;
  }

  .main__btn:not(.result__return) {
    margin-left: 0;
    min-width: 100%;
    font-size: 16px;
  }


  .main__subtitle {
    font-size: 22px;
    margin-bottom: 40px;
  }


  .selection__theme {
    font-size: 14px;
    max-width: 350px;
    padding: 10px 15px;
  }

  .main__form-question::after {
    font-size: 16px;
    bottom: -45px;
    right: 10px;
  }

  .selection__result-ratio {
    font-size: 18px;
  }

  .main__form-question fieldset {
    margin-bottom: 20px;
  }

  .answer__text {
    line-height: 30px;
    max-width: 215px;
    font-size: 14px;
  }

  .result__ratio {
    font-size: 25px;
  }

}